<body>
  <div class="tip-container">
    <h1>Tip calculator</h1>
    <label>Enter Bill Total</label>

    <p> £ <input class="inputVal" placeholder="Enter Bill amount"
        onchange={{action (mut billAmount) value='target.value'}} /></p>

    <hr />
    <label>Tip Percentage</label>

    <select onchange={{action (mut tipAmount) value='target.value'}}>
      {{#each this.options as |opt|}}
      <option value={{opt}}>{{opt}}</option>
      {{/each}}
    </select>

    <hr />
    <label>How Many People To Split With?</label>

    <input class="noOfSplit" placeholder="Number of people to split with"
      onchange={{action (mut guestAmount) value='target.value'}} />

    <hr />

    <p> Your Tip Amount is: <span class="tipAmount">{{ individualTip }}</span></p>
    <p> Your Total Amount is: <span class="totalAmount">{{ total }}</span></p>

    <button class="calulate" {{action "calculateAmount" }}>Calculate</button>
  </div>

</body>

{{yield}}
